{% extends "allauth/layouts/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Lanuelgram - Password Reset {% endblock title %}
{% block content %}
<h1>Password Reset</h1>
<p>Forgot your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <!-- <button class="btn btn-danger ml-2"><a style="text-decoration: none;" href="javascript:window.history.back();">Cancel</a></button> -->
    <button class=" hover:bg-red-700" type="submit">Reset my password</button>
</form>
<p>Please contact us if you have any trouble resetting your password.</p>
{% endblock content %}