.venv/
node_modules/
media/
__pycache__/
db.sqlite3
.env
/staticfiles/
/a_posts/migrations/0002_tag_post_tag.py
/a_posts/migrations/0002_tag_post_tag.py
/a_posts/migrations/0003_alter_tag_slug.py
/a_posts/migrations/0004_rename_tag_post_tags.py
/a_posts/migrations/0005_tag_image.py
/a_posts/migrations/0006_post_author.py
/a_posts/migrations/0007_comment.py
/a_posts/migrations/0008_alter_comment_options_reply.py
/a_posts/migrations/0009_likedpost_post_likes.py
/a_posts/migrations/0011_likedreply_reply_likes.py
/a_posts/migrations/0013_alter_comment_options.py
/a_posts/migrations/0016_alter_comment_id_alter_post_id.py
/static/favicon.ico
/static/images/heartdark.png
/static/images/heartred.png
/static/images/empty-state.png
/static/images/heartgif.gif
/static/images/heartgif2.gif
