<header class="header" x-data="{ mobileOpen: false, isAuthenticated: true }">
  <nav class="nav">
    <div class="logo">
      <div class="logo-icon">L</div>
      <div class="logo-text pb-1 py-1">
        <a href="{% url 'home' %}">Lanuelgram</a>
      </div>
    </div>

    <button class="mobile-toggle" @click="mobileOpen = !mobileOpen">
      <div class="hamburger" :class="{ active: mobileOpen }">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </button>

    <ul class="nav-links" :class="{ 'mobile-active': mobileOpen }">
      {% if request.user.is_authenticated %}
      <li>
        <a
          href="{% url 'home' %}"
          class="nav-link {% if request.path == '/' %}active{% endif %}"
          >Home</a
        >
      </li>
      <li>
        <a
          href="{% url 'create_post' %}"
          class="nav-link {% if request.path == '/post/create/' %}active{% endif %}"
          >Create Post</a
        >
      </li>
      <li>
        <a
          href="{% url 'about' %}"
          class="nav-link {% if request.path == '/about/' %}active{% endif %}"
          >About Us</a
        >
      </li>
      <li class="profile" x-data="{ open: false }">
        <!-- No nav-link class here, to exclude from active styling -->
        <div
          class="profile-trigger"
          @click="open = !open"
          @click.away="open = false"
        >
          <img
            class="avatar"
            src="{{ request.user.profile.avatar }}"
            alt="Avatar"
          />
          <span class="username">{{ request.user.profile.name|title }}</span>
          <svg
            class="arrow"
            :class="{ rotated: open }"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
        <div class="dropdown" x-show="open" x-cloak ...>
          <ul>
            <li><a href="{% url 'profile' %}">My Profile</a></li>
            <li><a href="{% url 'profile-edit' %}">Edit Profile</a></li>
            <li><a href="{% url 'profile-settings' %}">Settings</a></li>
            <li><a href="{% url 'account_logout' %}">Log Out</a></li>
          </ul>
        </div>
      </li>
      {% else %}
      <li>
        <a
          href="{% url 'home' %}"
          class="nav-link {% if request.path == '/' %}active{% endif %}"
          >Home</a
        >
      </li>
      <li>
        <a
          href="{% url 'about' %}"
          class="nav-link {% if request.path == '/about/' %}active{% endif %}"
          >About Us</a
        >
      </li>
      <li>
        <a
          href="{% url 'account_login' %}"
          class="nav-link {% if request.path == '/accounts/login/' %}active{% endif %}"
          >Login</a
        >
      </li>
      <li>
        <a
          href="{% url 'account_signup' %}?next={% url 'profile-onboarding' %}"
          class="nav-link {% if request.path == '/accounts/signup/' %}active{% endif %}"
          >Signup</a
        >
      </li>
      {% endif %}
    </ul>
  </nav>
</header>

<script src="{% static 'js/header.js' %}"></script>
