{% extends 'layouts/blank.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<!-- Post Card -->
{% include 'includes/post_article_details.html' %}

<!-- Comment Form -->
{% include 'a_posts/partials/comment_form.html' %}

<!-- Comment Tabs -->
<div id="tabs" 
    class="{% if not post.comments.exists %}hidden {% endif %}ml-4 flex flex-wrap gap-2 mb-4"
    role="tablist"
    hx-target="#tab-contents"
    hx-swap="innerHTML"
    _="
        on htmx:afterOnLoad 
            remove .selected from .tab
            remove .bg-red-300 from .tab
            remove .text-white from .tab
            remove .text-gray-900 from .tab
            remove .shadow-md from .tab
            remove .ring-2 from .tab
            remove .ring-red-500 from .tab
            then add .bg-gray-100 to .tab
            then add .text-gray-900 to .tab
            then add .selected to event.target
            then add .bg-red-300 to event.target
            then add .text-white to event.target
            then add .shadow-md to event.target
            then add .ring-2 to event.target
            then add .ring-red-500 to event.target
    ">
    
    <!-- Newest First -->
    <a class="tab selected bg-red-300 text-white shadow-md ring-2 ring-red-500 rounded-lg border border-gray-700 transition-colors duration-300 px-4 py-2 text-sm font-medium hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-red-500"
        href="{% url 'post_detail' post.id %}"
        hx-get="{% url 'post_detail' post.id %}"
        role="tab"
        aria-selected="true"
        aria-controls="newest-comments">
        Newest First
    </a>
    <!-- Top Comments -->
    <a class="tab bg-gray-400 text-black rounded-lg border border-gray-700 transition-colors duration-300 px-4 py-2 text-sm font-medium hover:bg-gray-800 hover:text-white focus:outline-none focus:ring-2 focus:ring-red-500"
        href="{% url 'post_detail' post.id %}?top=1"
        hx-get="{% url 'post_detail' post.id %}?top=1"
        role="tab"
        aria-selected="false"
        aria-controls="top-comments">
        Top Comments
    </a>
</div>

<!-- Comments List -->
<div id="tab-contents">
    {% include 'snippets/loop_postdetail_comments.html' %}
</div>

{% endblock %}
