{% extends 'layouts/blank2.html' %}
{% load static %}
{% block content %}

<div id="profile" class="flex flex-col items-center py-4">
    <!-- Profile Header -->
    <div class="w-full md:w-[36rem] lg:w-[40rem] bg-white rounded-2xl mb-6">
        <div class="card p-2">
            <div class="text-center flex flex-col items-center">
                <img class="w-36 h-36 rounded-full object-cover mb-4" src="{{ profile.avatar }}" />
                <div class="text-center max-w-md">
                    {% if profile.displayname %}
                        <h1>{{profile.displayname}}</h1>
                    {% else %}
                        <h1>{{profile.user.username|title}}</h1>
                    {% endif %}
                    <div class="text-gray-600 mb-2 -mt-3">@{{profile.user.username}}</div>
                    <div class="flex items-center justify-center mx-auto text-green-600">
                        <img class="object-cover h-6 mr-1 opacity-60" src="https://img.icons8.com/material-outlined/50/000000/marker.png"> 
                        {% if profile.location %}
                        {{ profile.location }}
                        {% else %}
                        Planet Earth
                        {% endif %}
                    </div>

                    <div class="my-4 hyphens-auto">
                        {% if profile.info %}
                            {{ profile.info|linebreaksbr }}
                        {% else %}
                            Professional procrastinator lives here...
                        {% endif %}
                    </div> 

                </div>
            </div>
        </div>
    </div>

    <!-- Tabs -->
    <div id="tabs" role="tablist" 
        class="{% if not posts.exists %}hidden {% endif %}flex flex-wrap justify-center gap-2 px-4 p-2 mb-6 sm:flex-nowrap sm:overflow-x-auto sm:scrollbar-hide" 
        hx-target="#tab-contents" 
        hx-swap="innerHTML"
        _="
        on htmx:afterOnLoad 
            remove .selected from .tab
            remove .bg-red-300 from .tab
            remove .text-white from .tab
            remove .text-gray-900 from .tab
            remove .shadow-md from .tab
            remove .ring-2 from .tab
            remove .ring-red-500 from .tab
            then add .bg-gray-400 to .tab
            then add .text-gray-900 to .tab
            then add .selected to event.target
            then add .bg-red-300 to event.target
            then add .text-white to event.target
            then add .shadow-md to event.target
            then add .ring-2 to event.target
            then add .ring-red-500 to event.target
    ">
        <a  href="{% url 'userprofile' profile.user.username %}" 
            hx-get="{% url 'userprofile' profile.user.username %}" 
            class="tab selected bg-red-300 text-white shadow-md ring-2 ring-red-500 rounded-lg border border-gray-700 transition-colors duration-300 px-4 py-2 text-sm font-medium hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-red-500" 
            aria-selected="true"
            aria-controls="latest-posts">
            Latest
        </a>
        <a  href="{% url 'userprofile' profile.user.username %}?top-posts" 
            hx-get="{% url 'userprofile' profile.user.username %}?top-posts" 
            class="tab bg-gray-400 rounded-xl px-4 py-2 text-sm hover:bg-gray-800 hover:text-white cursor-pointer whitespace-nowrap" 
            aria-selected="false"
            aria-controls="top-comments">
            Top Posts
        </a>
        <a  href="{% url 'userprofile' profile.user.username %}?top-comments" 
            hx-get="{% url 'userprofile' profile.user.username %}?top-comments" 
            class="tab bg-gray-400 rounded-xl px-4 py-2 text-sm hover:bg-gray-800 hover:text-white cursor-pointer whitespace-nowrap" 
            aria-selected="false"
            aria-controls="top-comments">
            Top Comments
        </a>
        <a  href="{% url 'userprofile' profile.user.username %}?liked-posts" 
            hx-get="{% url 'userprofile' profile.user.username %}?liked-posts" 
            class="tab bg-gray-400 rounded-xl px-4 py-2 text-sm hover:bg-gray-800 hover:text-white cursor-pointer whitespace-nowrap" 
            aria-selected="false"
            aria-controls="liked-posts">
            Liked Posts
        </a>
    </div>


    <!-- Tab Contents -->
    <div id="tab-contents" class="w-full flex flex-col items-center">
        <div class="grid place-items-start gap-x-8 mx-auto max-w-xl
            {% if posts.count == 2 %} lg:grid-cols-2 lg:max-w-5xl
            {% elif posts.count > 2 %} lg:grid-cols-2 lg:max-w-5xl xl:grid-cols-3 xl:max-w-7xl
            {% endif %}">
            {% if posts %}
                {% for post in posts %}
                    {% include 'includes/post_article_profile.html' %}
                {% endfor %}
            {% else %}
                <div class="text-center mt-10 w-full"><h1>No posts just yet!</h1></div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}