{% load static %}
<!-- Creator Section -->
<div class="relative bg-gray-50 py-16 overflow-hidden">
    <div class="hidden lg:block lg:absolute lg:inset-y-0 lg:h-full lg:w-full">
        <div class="relative h-full text-lg max-w-prose mx-auto" aria-hidden="true">
            <svg class="absolute top-12 left-full transform translate-x-32" width="404" height="384" fill="none" viewBox="0 0 404 384">
                <defs>
                    <pattern id="74b3fd99-0a6f-4271-bef2-e80eeafdf357" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                        <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                    </pattern>
                </defs>
                <rect width="404" height="384" fill="url(#74b3fd99-0a6f-4271-bef2-e80eeafdf357)" />
            </svg>
            <svg class="absolute top-1/2 right-full transform -translate-y-1/2 -translate-x-32" width="404" height="384" fill="none" viewBox="0 0 404 384">
                <defs>
                    <pattern id="f210dbf6-a58d-4871-961e-36d5016a0f49" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                        <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                    </pattern>
                </defs>
                <rect width="404" height="384" fill="url(#f210dbf6-a58d-4871-961e-36d5016a0f49)" />
            </svg>
            <svg class="absolute bottom-12 left-full transform translate-x-32" width="404" height="384" fill="none" viewBox="0 0 404 384">
                <defs>
                    <pattern id="d3eb07ae-5182-43e6-857d-35c643af9034" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                        <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                    </pattern>
                </defs>
                <rect width="404" height="384" fill="url(#d3eb07ae-5182-43e6-857d-35c643af9034)" />
            </svg>
        </div>
    </div>
    <div class="relative px-4 sm:px-6 lg:px-8">
        <div class="text-lg max-w-prose mx-auto">
            <h4 class="section text-gray-600 font-semibold tracking-wide uppercase text-5xl text-center">Meet the Creator</h4>
            <hr style="color: #667eea; margin-top: 8px;">
            <h3 class="mt-4 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
                Hi! I'm <strong>Tayo Osunlalu.</strong>
            </h3>
            <div class="mt-6 flex items-center">
                <div class="flex-shrink-0">
                    <img class="h-16 w-16 rounded-full animate-bounce" src="{% static 'images/avatar.svg' %}" alt="Creator profile photo">
                </div>
                <div class="ml-4">
                    <div class="text-lg font-medium text-gray-900">@Lanuel</div>
                    <div class="text-primary-600">Founder, Fullstack developer, & Photographer</div>
                </div>
            </div>
            <div class="mt-6 prose prose-primary prose-lg text-gray-500 mx-auto">
                <p>
                    As a photography enthusiast and storytelling addict, I built Lanuelgram to merge two passions—images and words—into one seamless experience. In short, Lanuelgram is my way of helping people freeze time, give it meaning, and share it with the world.
                </p>
                <blockquote class="mb-2">
                    <p class="text-gray-600 italic font-lobster text-center tracking-wide">
                        "I once spent 3 hours crafting the perfect caption for a sunset photo."
                    </p>
                </blockquote>
            </div>
        </div>
    </div>
</div>