{% extends 'layouts/blank.html' %}
{% load static %}
{% block content %} 

{% for post in post_list %}
    {% include 'includes/post_article.html' %}
{% empty %}
    {% include 'includes/post_empty_state.html' %}
{% endfor %}

{% if page_obj.has_next %}
    <div hx-get="{% url 'home' %}?page={{ page_obj.next_page_number }}"
         hx-trigger="revealed"
         hx-target="this"
         hx-swap="outerHTML"
         class="loading-container">
         <div class="rolling-circle"></div>
    </div>
{% endif %}

{% include 'includes/nav_top.html' %}

{% endblock %}
